In [3]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd
import pickle

WARNING:tensorflow:From c:\Users\saket\OneDrive\Desktop\Rnn_Ann\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [5]:
model=load_model('model.h5')

with open('scaler.pkl', 'rb') as f:
    scaler=pickle.load(f)

with open('label_encoder_gender.pkl', 'rb') as f:
    label_encoder_gender=pickle.load(f)

with open('onehot_encoder_geo.pkl','rb') as f:
    onehot_encoder_geo=pickle.load(f)

In [6]:
input_data={
   'CreditScore': 600,
   'Geography' : 'France',
   'Gender' :'Male',
   'Age' : 40,
   'Tenure' :3,
   'Balance' :60000, 
   'NumOfProducts' :2,
   'HasCrCard' :1,
   'IsActiveMember' :1,
   'EstimatedSalary' :50000

}

In [7]:
geography=onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
encoded_df=pd.DataFrame(geography,columns=onehot_encoder_geo.get_feature_names_out())
encoded_df

c:\Users\saket\OneDrive\Desktop\Rnn_Ann\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [16]:
onehot_encoder_geo.categories_[0]

array(['France', 'Germany', 'Spain'], dtype=object)

In [8]:
input_df=pd.DataFrame([input_data])

In [9]:
input_df.drop(['Geography'],axis=1,inplace=True)
input_data= pd.concat([input_df,encoded_df],axis=1)
input_data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [10]:
input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])
input_data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [17]:
label_encoder_gender.classes_

array(['Female', 'Male'], dtype=object)

In [11]:
input_scaled= scaler.transform(input_data)
input_scaled

array([[-0.51222865,  0.90636285,  0.10591292, -0.69703024, -0.26147196,
         0.8016426 ,  0.64900815,  0.97238125, -0.86754814,  0.99575899,
        -0.57812007, -0.57330877]])

In [13]:
prediction=model.predict(input_scaled)

1/1 [==============================] - 0s 31ms/step

In [14]:
prediction_proba= prediction[0][0]
prediction_proba

0.094284356

In [15]:
if prediction_proba> 0.5:
    print('The customer is likely to churn....')
else:
    print('The customer is likely to stay....')

The customer is likely to stay....